
.d_appList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.d_app
{
    height: 10rem;
    width: 15rem;

    background-color: black !important;

    font-size: 2rem;
    font-weight: 800;

    display: flex;
    flex-direction: column-reverse;

    transition: color .5s ease;
    &:hover
    {
        //transform: scale(1.5rem);
        color: red;
    }
}
